# **List, Tuple, Set**

### _**List**_
* _List is used to store different data types in a single variable_
* _To create a list we seperate differnt data items with comma enclosed within sqauare brackets[ ]_

In [1]:
# create a list
l = [1, 345, 45, True, 5+7j, 67.98]

In [2]:
# check the data type
type(l)

list

### _**List Indexing**_
* _You can access items in a list by using indexing_
* _The first item in the list has index 0, second has 1 and so on._

In [5]:
l

[1, 345, 45, True, (5+7j), 67.98]

In [3]:
# extract "1" from l
l[0]

1

In [4]:
l[1]

345

In [6]:
l[4]

(5+7j)

In [10]:
# negative indexing
# indexing starts from the end
l[-1]

67.98

In [7]:
# index out of range
# if you give the index that is not available in the list it gives error
l[12]

IndexError: list index out of range

### _**List Slicing**_
* _Slicing is a way to extract a portion of a list by specifying range of index positions_

* _Specify start and ending index --> variable[start : end]_

* _Note that the ending index is not included in the output_

In [8]:
l

[1, 345, 45, True, (5+7j), 67.98]

In [9]:
l[0 : 3]

[1, 345, 45]

In [11]:
# reversing
l[::-1]

[67.98, (5+7j), True, 45, 345, 1]

In [12]:
# Leave starting index
# start slicing from the start of the list and goes upto the ending index
l[:5]

[1, 345, 45, True, (5+7j)]

In [13]:
# Leave ending index
# start slicing from the starting index and goes upto the end of list
l[2:]

[45, True, (5+7j), 67.98]

In [15]:
# Leave both indexes
# slice the complete list
l[:]

[1, 345, 45, True, (5+7j), 67.98]

In [14]:
# jump parameter
# by default jump parameter is 1
l[::2]

[1, 45, (5+7j)]

In [17]:
l

[1, 345, 45, True, (5+7j), 67.98]

In [21]:
# create a string variable
s = 'data science'

In [19]:
# list can concatenate with list only
l + s

TypeError: can only concatenate list (not "str") to list

In [22]:
# use list function
# it can unwrap the data
list(s)

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [28]:
# use append method to add 'data science' in the list
l

[1, 345, 45, True, (5+7j), 67.98, 'data science']

In [29]:
# extract "data" from data science in the list
# index the character "data science" first
# then slice the "data" by giving range of indexes
l[-1][0:4]

'data'

In [32]:
# extract "Tr" from True in the list
# directly it is not possible
# we can do it using str() function

# extract True
l[3]

# now extract "Tr" from True in the list --> using str() function
str(l[3])[0:2]

'Tr'

In [33]:
l

[1, 345, 45, True, (5+7j), 67.98, 'data science']

In [34]:
# create another list
l1 = [3, 4, 5]

In [35]:
# list can concatenate with list only
l + l1

[1, 345, 45, True, (5+7j), 67.98, 'data science', 3, 4, 5]

In [37]:
# multiply list with integer
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [39]:
# len() function --> number of characters
len(l)

7

### **_Adding new characters in a list_**

In [40]:
l

[1, 345, 45, True, (5+7j), 67.98, 'data science']

In [42]:
l1

[3, 4, 5]

### _Append() Function_
* _Used to add value at the end of the list_

In [41]:
# append() function --> add value at the end of the list
l.append('200000/month')
l

[1, 345, 45, True, (5+7j), 67.98, 'data science', '200000/month']

In [44]:
# append list into list
l.append(l1)

In [47]:
l

[1, 345, 45, True, (5+7j), 67.98, 'data science', '200000/month', [3, 4, 5]]

In [48]:
# extract "3" from list that is into another list
# extract 3's list
# now extract 3 from the list
l[-1][0]

3

### _Extend( ) Function_
* _Firstly, it unwrap the data and then store it at the end of list_
* _add data which is iterable means data within data_
* _e.g 'food' --> string data but 'food' has also data within it like (f, o, o, d)_

In [49]:
# extend your list
# add at the end that data which has also data in it
# gives error because integer is not iterable (integer hasn't data within it)
l1.extend(2)

TypeError: 'int' object is not iterable

In [50]:
# extend first unwrap the data then add it
# now food has 4 characters (data within data)
# extend store food by characters (unwrap data)
l1.extend('food')
l1

[3, 4, 5, 'f', 'o', 'o', 'd']

### _insert ( ) Function_
* _use to add data where you want_
* _variable.insert(index, data you want to add)_
* _push the original value to the next index_

In [52]:
l1

[3, 4, 5, 'f', 'o', 'o', 'd']

In [53]:
# insert "web scraping" at 3rd index
l1.insert(3, 'web scraping')

In [54]:
l1

[3, 4, 5, 'web scraping', 'f', 'o', 'o', 'd']

In [55]:
# add list ['skill', 'web scraping'] at 5th index
l1.insert(5, ['skill', 'web scrapng'])

In [56]:
l1

[3, 4, 5, 'web scraping', 'f', ['skill', 'web scrapng'], 'o', 'o', 'd']

In [57]:
# push the orginal value at the next index
# now "d" is at -1 index
l1.insert(-1, 'good')

In [58]:
# now you see it push the original value "d" to the next index 
l1

[3, 4, 5, 'web scraping', 'f', ['skill', 'web scrapng'], 'o', 'o', 'good', 'd']

### _**Remove characters from list**_

### _Pop( ) function_
* _remove characters from -1th index_
* _also it takes index to remove the value at that index_

In [59]:
l1

[3, 4, 5, 'web scraping', 'f', ['skill', 'web scrapng'], 'o', 'o', 'good', 'd']

In [60]:
# pop remove "d" because it is at -1th index
l1.pop()

'd'

In [61]:
# as you see "d" is removed from list
l1

[3, 4, 5, 'web scraping', 'f', ['skill', 'web scrapng'], 'o', 'o', 'good']

In [63]:
# remove value by giving its index
# remove "f" by its index "4" using pop() function
l1.pop(4)

'f'

In [64]:
# as you see it remove "f"
l1

[3, 4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'o', 'good']

### _Remove( ) Function_
* _Remove first occurranceof value_

In [65]:
l1

[3, 4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'o', 'good']

In [67]:
# remove "o"
# it removes that "o" that occur first
l1.remove('o')

In [68]:
l1

[3, 4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good']

In [69]:
l

[1,
 345,
 45,
 True,
 (5+7j),
 67.98,
 'data science',
 '200000/month',
 [3, 4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good']]

In [70]:
# remove "3" from the nested list(list within the list)
l.remove(l[8][0])

ValueError: list.remove(x): x not in list

In [72]:
# remove "3" from the nested list(list within the list)
# extract nested list first
# then remove character
l[8].remove(3)

In [73]:
l

[1,
 345,
 45,
 True,
 (5+7j),
 67.98,
 'data science',
 '200000/month',
 [4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good']]

In [74]:
# remove "web" from nested list
# it give error because string is immuatable
l[8][3][1].remove('web')

AttributeError: 'str' object has no attribute 'remove'

In [75]:
l1

[4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good']

In [77]:
# run 2 times that's why you see two 4's at the end
l1.append(4)
l1

[4, 5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good', 4, 4]

In [78]:
# can you remove 4's in the list at a time
# using remove function --> answer is NO
l1.remove(4)
l1
# remove 4 that occur first

[5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good', 4, 4]

In [79]:
# reverse the list using slicing
# temporariy reverse
l1[::-1]

[4, 4, 'good', 'o', ['skill', 'web scrapng'], 'web scraping', 5]

In [84]:
l

[1,
 345,
 45,
 True,
 (5+7j),
 67.98,
 'data science',
 '200000/month',
 [5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good', 4, 4]]

In [85]:
# reverse the list using reverse() function
# permanently reverse
l.reverse()

In [86]:
l

[[5, 'web scraping', ['skill', 'web scrapng'], 'o', 'good', 4, 4],
 '200000/month',
 'data science',
 67.98,
 (5+7j),
 True,
 45,
 345,
 1]

In [87]:
# create another list
l2 = [3,78,9,23,45,76,8,1,0]

### _Sort( ) Function_
* _work only with one data type_
* _by default it sort in ascending order_
* _you can also do sorting in descending order --> reverse = True_

In [88]:
l2.sort()

In [89]:
l2

[0, 1, 3, 8, 9, 23, 45, 76, 78]

In [92]:
# create a new list
DS_2023 = ['python', 'web scraping', 'machine learning', 'deep learning', 'computer vision', 'natural language process', 'SQL', 'Power BI']
print(DS_2023)

['python', 'web scraping', 'machine learning', 'deep learning', 'computer vision', 'natural language process', 'SQL', 'Power BI']

In [93]:
# sort the list
DS_2023.sort()

In [94]:
DS_2023

['Power BI',
 'SQL',
 'computer vision',
 'deep learning',
 'machine learning',
 'natural language process',
 'python',
 'web scraping']

In [95]:
l2

[0, 1, 3, 8, 9, 23, 45, 76, 78]

In [99]:
# sorting in descending order
l2.sort(reverse=True)
l2

[78, 76, 45, 23, 9, 8, 3, 1, 0]

### _index( ) Function_
* _Display the index by receiving the value_

In [100]:
l2

[78, 76, 45, 23, 9, 8, 3, 1, 0]

In [102]:
l2.index(23)

3

In [104]:
l2.count(76)

1

In [1]:
s = 'subhan'

In [5]:
s.replace('u', 'o') # replace temporarily

'sobhan'

In [6]:
s

'subhan'

In [2]:
l3 = [1,2,3,4,5]

### _Modifying items in a list_

In [3]:
# replace "1" with 100
l3[0] = 100
l3

[100, 2, 3, 4, 5]

In [4]:
# mutability

### _**Tuple**_
* _It is similar to a list but with one important difference: tuple is immutable means once they are created their contents cannot changed_
* _used where we don't want to change data_
* _To create a tuple we seperate differnt data items with comma enclosed within round brackets( )_

In [9]:
t = (1,45,67.89,True,'this is tuple',['upwork', 'freelancer'])

In [10]:
# list mutability --> its content is changable
l3

[100, 2, 3, 4, 5]

In [11]:
l3[2] = 35

In [12]:
l3

[100, 2, 35, 4, 5]

In [13]:
t

(1, 45, 67.89, True, 'this is tuple', ['upwork', 'freelancer'])

In [14]:
# immutability of tuple
t[2] = 67

TypeError: 'tuple' object does not support item assignment

In [15]:
# reversing tuple
t[::-1]

(['upwork', 'freelancer'], 'this is tuple', True, 67.89, 45, 1)

### _Count( )_ 
* _count the number of occurrences of a specific item_

In [36]:
t

(1, 45, 67.89, True, 'this is tuple', ['upwork', 'freelancer'])

In [40]:
t.count(45)

1

In [41]:
t.count(['upwork', 'freelancer'])

1

In [39]:
# it give 2 because internally True=1
# So it take "1" as True tha's why it give 2
t.count(True)

2

### _**SET**_
* _a set is a collection of unique elements that are unordered, meaning the elements have no specific index._
* _Sets are defined by enclosing a comma-separated sequence of elements within curly braces { }_

In [19]:
# empty set = dictionary
s1 = {}
type(s1)

dict

In [21]:
# collection of immutable elements
# don't accept list --> mutable
s2 = {12, 45, 67.9, 'set ho', ('data science', 'become master in it')}

In [25]:
# why we use set
s3 = {1,1,1,1,1,1,2,2,2,23,3,3,3,3,4,4,4,4,5,5,5,6,6,6,67,7,7,8,8,88,8,9,99,9}

In [26]:
# remove duplicates and give unique elements
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 67, 88, 99}

In [28]:
# create a list
l5 = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,4,4,4,4,4,5,5,5,5,5,5,5,5,6,6,6,6,6,6,6,6,7,7,7,7,7,7,8,8,8,88,9,9,9,9,9,9]

In [42]:
# now remove duplicates from the above list
# use set function
set(l5)

# now use list function and store it in "l5"
l5 = list(set(l5))

In [43]:
l5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 88]

>_Slcing and indexing doesn't work with sets_