# **Dictionary, Condition, Loop**

### _**Dictionary**_

In [1]:
# create a dictionary
d = {}

In [2]:
type(d)

dict

>_If you give linear value within in curly braces python assumes it a set_
>
>_But if you give data in key : value format python declared it dictionary_

In [4]:
# create another dictionary
# variable = {key : value} --> key must be unique
d1 = {'name' : 'subhan', 'age' : 22, 'skill' : 'Data Science'}

In [6]:
d1

{'name': 'subhan', 'age': 22, 'skill': 'Data Science'}

In [8]:
# you can take key value from different data type
d2 = {'members' : 15, 2 : 'Ronaldo', True : 'work hard', 75.98 : 'weight'}

> _you can,t use special characters directly in your key/value --> enclosed them in quotes & then use it_

In [9]:
d3 = {'@Upwork' : 'make$$$'}

In [10]:
d2

{'members': 15, 2: 'Ronaldo', True: 'work hard', 75.98: 'weight'}

In [11]:
# extract value using key
# extract "Ronaldo" from dictionary
d2[2]

'Ronaldo'

In [12]:
d2[True]

'work hard'

In [13]:
d2[75.98]

'weight'

In [15]:
# create new dictionary --> with 2 same key value
# if key doesn't unique it overwrite the previous key
d3 = {'name':'subhan', 'mail':'datascientist@gmail.com','name' : 'Dr.Subhan'}

In [16]:
# it overwrites(subhan --> Dr.Subhan)
d3['name']

'Dr.Subhan'

In [18]:
# create another dictionary
# value as list
d4 = {'person':'Subhan Nayyeri','skillset':['Data Scientist', 'Digital Marketer', 'E-Commerce Expert', 'AnalyXL owner']}

In [19]:
d4

{'person': 'Subhan Nayyeri',
 'skillset': ['Data Scientist',
  'Digital Marketer',
  'E-Commerce Expert',
  'AnalyXL owner']}

In [20]:
# extract skillset value
d4['skillset']

['Data Scientist', 'Digital Marketer', 'E-Commerce Expert', 'AnalyXL owner']

In [21]:
# now extract "Data Science" from skillset
d4['skillset'][0]

'Data Scientist'

In [24]:
# create a new dictionary
# store list,tuple,set,dictionary as a value
d5 = { 'number':[1,2,3,4,5], 'assignment':(6,7,8,9,10), 'date':{9,8,7,6,5}, 'class_timing':{'data science':8, 'web scraping':12, 'data science':3, 'statistics':9}}

In [25]:
d5

{'number': [1, 2, 3, 4, 5],
 'assignment': (6, 7, 8, 9, 10),
 'date': {5, 6, 7, 8, 9},
 'class_timing': {'data science': 3, 'web scraping': 12, 'statistics': 9}}

In [27]:
# extract "9" from class_timing from d5
d5['class_timing']['statistics']

9

In [28]:
# add a key value pair
# variable[key] = value
d5['Goals'] = ['Freelancing', 'POD', 'Remote Jobs', 'Digital Products', 'Agency', 'Multiple Income Streams']

In [29]:
d5

{'number': [1, 2, 3, 4, 5],
 'assignment': (6, 7, 8, 9, 10),
 'date': {5, 6, 7, 8, 9},
 'class_timing': {'data science': 3, 'web scraping': 12, 'statistics': 9},
 'Goals': ['Freelancing',
  'POD',
  'Remote Jobs',
  'Digital Products',
  'Agency',
  'Multiple Income Streams']}

In [30]:
# delete key/value from dictionary
# del variable[key you want to delete]
del d5['number']

In [31]:
d5

{'assignment': (6, 7, 8, 9, 10),
 'date': {5, 6, 7, 8, 9},
 'class_timing': {'data science': 3, 'web scraping': 12, 'statistics': 9},
 'Goals': ['Freelancing',
  'POD',
  'Remote Jobs',
  'Digital Products',
  'Agency',
  'Multiple Income Streams']}

In [32]:
# extract a list of keys from "d5"
# variable.keys()
d5.keys()

dict_keys(['assignment', 'date', 'class_timing', 'Goals'])

In [33]:
# convert it into proper list
list(d5.keys())

['assignment', 'date', 'class_timing', 'Goals']

In [34]:
# extract a list of values from "d5"
# variable.values()
d5.values()

dict_values([(6, 7, 8, 9, 10), {5, 6, 7, 8, 9}, {'data science': 3, 'web scraping': 12, 'statistics': 9}, ['Freelancing', 'POD', 'Remote Jobs', 'Digital Products', 'Agency', 'Multiple Income Streams']])

In [35]:
# now convert it into proper list
list(d5.values())

[(6, 7, 8, 9, 10),
 {5, 6, 7, 8, 9},
 {'data science': 3, 'web scraping': 12, 'statistics': 9},
 ['Freelancing',
  'POD',
  'Remote Jobs',
  'Digital Products',
  'Agency',
  'Multiple Income Streams']]

In [36]:
# extract a list of both key & value
# variable.items()
d5.items()

dict_items([('assignment', (6, 7, 8, 9, 10)), ('date', {5, 6, 7, 8, 9}), ('class_timing', {'data science': 3, 'web scraping': 12, 'statistics': 9}), ('Goals', ['Freelancing', 'POD', 'Remote Jobs', 'Digital Products', 'Agency', 'Multiple Income Streams'])])

In [37]:
# now convert in into proper list
list(d5.items())

[('assignment', (6, 7, 8, 9, 10)),
 ('date', {5, 6, 7, 8, 9}),
 ('class_timing', {'data science': 3, 'web scraping': 12, 'statistics': 9}),
 ('Goals',
  ['Freelancing',
   'POD',
   'Remote Jobs',
   'Digital Products',
   'Agency',
   'Multiple Income Streams'])]

In [38]:
# remove key/value using pop
# variable.pop(key)
d5.pop('assignment')

(6, 7, 8, 9, 10)

In [39]:
d5

{'date': {5, 6, 7, 8, 9},
 'class_timing': {'data science': 3, 'web scraping': 12, 'statistics': 9},
 'Goals': ['Freelancing',
  'POD',
  'Remote Jobs',
  'Digital Products',
  'Agency',
  'Multiple Income Streams']}

### **_Control Flow (Decision making statement)_**

In [2]:
# multiple conditions --> if & elif
# input used to take the input from user
# input function automatically convert any data type to string
# then we manually convert string into our desire data type

# select batch on the basis of number
marks = int(input('enter your marks'))
if marks >= 80:
    print('you will be a part of A0 batch')
elif marks >= 60 and marks <= 80:
    print('you will be a part of A1 batch')
elif marks >= 40 and marks <=60:
    print('you are the part of A2 batch')
else:
    print('You will be a part of A3 batch')

you will be a part of A0 batch

In [3]:
type(marks)

int

In [4]:
# if & else
# decide weather purchase the product or not on the basis of price
price = int(input('enter price'))
if price > 1000:
    print('I will not purchase it')
else:
    print('I will purchase it')

I will purchase it

In [8]:
# nested if statement
# track your health progress on the basis of steps you take

steps = int(input('enter the steps you take'))
if steps > 500:
    print('you doing well for your health')
    if steps > 1500:
        print('trying hard beast')

you doing well for your health
trying hard beast

### _**For Loop**_

In [9]:
# create a list
l = [1,2,3,4,5,6,7,8]

# we want to add 1 in each element of list

In [10]:
# extract elements from the list
l[0]

1

In [11]:
# add 1 in elements of list
l[0] +1

2

In [12]:
# store it into another list
l1 = []

# use append function
l1.append(l[0] + 1)
l1

[2]

In [13]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
# for loop
# run the loop until it checked the all elements
l2=[]
for i in l:     # extract elements from the list using loop
    print(i+1)  # add 1 in elements of list
    l2.append(i+1) # use append function

2
3
4
5
6
7
8
9

In [18]:
l2

[2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# convert this list into uppercase and give me the final list
l3 = ['skills', 'python', 'statictics', 'ml', 'dl', 'nlp', 'cv', 'sql', 'power bi']

In [5]:
l4 = []
for i in l3: # extract elements from the list using for loop
    print(i) # print elements one by one
    l4.append(i.upper()) # add uppercase elents in l4

skills
python
statictics
ml
dl
nlp
cv
sql
power bi

In [6]:
l4

['SKILLS', 'PYTHON', 'STATICTICS', 'ML', 'DL', 'NLP', 'CV', 'SQL', 'POWER BI']

In [7]:
# make two seperate list of string and integer data
l5 = [1,2,3,4,5, 'abc', 7.8, 'dope']

In [14]:
l_num = []
l_str = []

for i in l5:
    if type(i) == int or type(i) == float:
        l_num.append(i)
    else:
        l_str.append(i)

In [15]:
print(l_num)
print(l_str)

[1, 2, 3, 4, 5, 7.8]
['abc', 'dope']